<mat-grid-list gutterSize="15px" cols="4" rowHeight="fit" style="height:100%">
    <mat-grid-tile class="grid-tile" [colspan]="2" [rowspan]="2">
        1
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile" [colspan]="1" [rowspan]="2">
        2
    </mat-grid-tile> 
    <mat-grid-tile class="grid-tile" [colspan]="1" [rowspan]="5">
        3
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile" [colspan]="1" [rowspan]="2">
        4
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile" [colspan]="2" [rowspan]="3">
        5
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile" [colspan]="1" [rowspan]="1">
        6
    </mat-grid-tile>
</mat-grid-list>