@import "~@angular/material/theming";

@import "../app/app.component.theme.scss";
@import "../app/component/theme-test/theme-test.component.theme";

$primary: mat-palette($mat-green);
$accent: mat-palette($mat-amber);

$theme: mat-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));

@include angular-material-theme($theme);
@include app-component-color($theme);
@include theme-test-color($theme);