<div class="app-root" [class.unicorn-dark-theme]="isDarkMode">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Theme Test App</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-second-line">
      <span>tool Line</span>
      <div class="example-spacer"></div>
      <mat-slide-toggle [checked]="isDarkMode" (change)="switchTheme($event)">switch theme
      </mat-slide-toggle>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <!-- test for overlay-base component -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="root-sidenav-container">
    <!-- side module -->
    <mat-sidenav mode="side" opened>
      <div class="side-wrapper">
        <!-- side nav -->
        <mat-nav-list class="side-navi">
          <mat-list-item>
            <mat-icon color="accent">dashboard</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <mat-icon color="primary">devices</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <mat-icon color="primary">access_alarm</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <mat-icon color="primary">data_usage</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <mat-icon color="primary">sensors</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <mat-icon color="primary">shop</mat-icon>
          </mat-list-item>
          <mat-list-item>
            <mat-icon color="primary">source</mat-icon>
          </mat-list-item>
        </mat-nav-list>
        <!-- personal settings -->
        <mat-nav-list>
          <mat-list-item>
            <mat-icon color="primary">person</mat-icon>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
      <!-- test for custom component -->
      <app-theme-test></app-theme-test>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>