@import "~@angular/material/theming";
@import "./theme/green-orange-theme";

// component themes
@import "./app/app.component.theme.scss";
@import "./app/component/theme-test/theme-test.component.theme";

@include mat-core();

@mixin custom-color-theme($theme) {
  @include angular-material-color($theme);
  @include app-component-color($theme);
  @include theme-test-color($theme);
}

// 定义一个默认的颜色配置
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
    ),
  )
);

@include angular-material-theme($candy-app-theme);
@include app-component-color($candy-app-theme);
@include theme-test-color($candy-app-theme);

.indigo-pink-dark {
  @include custom-color-theme(
    mat-dark-theme(
      (
        color: (
          primary: $candy-app-primary,
          accent: $candy-app-accent,
        ),
      )
    )
  );
}

$app-themes: (
  green-orange: (
    primary: $mat-green,
    accent: $mat-orange,
  ),
  deep_purple-amber: (
    primary: $mat-deep-purple,
    accent: $mat-amber,
  ),
  blue_grey-orange: (
    primary: $mat-blue-gray,
    accent: $mat-orange,
  ),
  purple-red: (
    primary: $mat-purple,
    accent: $mat-red,
  ),
);

@each $css-class, $theme in $app-themes {
  $primary: mat-palette(map-get($theme, primary));
  $accent: mat-palette(map-get($theme, accent));

  .#{$css-class} {
    @include custom-color-theme(
      mat-light-theme(
        (
          color: (
            primary: $primary,
            accent: $accent,
          ),
        )
      )
    );
  }

  .#{$css-class}-dark {
    @include custom-color-theme(
      mat-dark-theme(
        (
          color: (
            primary: $primary,
            accent: $accent,
          ),
        )
      )
    );
  }
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
